<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>controllers.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controllers.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controllers.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminManageCustomer</servlet-name>
        <servlet-class>admin.adminGetRecentOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUpdateStatusAccountController</servlet-name>
        <servlet-class>admin.adminUpdateStatusAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addInformationForCustomerController</servlet-name>
        <servlet-class>customers.addInformationForCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupController</servlet-name>
        <servlet-class>controllers.signupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCustomerID</servlet-name>
        <servlet-class>customers.getCustomerID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCustomer</servlet-name>
        <servlet-class>customers.getCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPetController</servlet-name>
        <servlet-class>customers.addPetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingController</servlet-name>
        <servlet-class>customers.bookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocartController</servlet-name>
        <servlet-class>customers.addtocartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentController</servlet-name>
        <servlet-class>customers.paymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addfeedbackController</servlet-name>
        <servlet-class>customers.addfeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddNewServiceController</servlet-name>
        <servlet-class>admin.adminAddNewServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminCancelBookingController</servlet-name>
        <servlet-class>admin.adminCancelBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDisableStatusController</servlet-name>
        <servlet-class>admin.adminDisableStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEditServiceController</servlet-name>
        <servlet-class>admin.adminEditServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminReplyFeedbackController</servlet-name>
        <servlet-class>admin.adminReplyFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSearchCustomerController</servlet-name>
        <servlet-class>admin.adminSearchCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUpdateInfomationController</servlet-name>
        <servlet-class>admin.adminUpdateInfomationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminManageCustomer</servlet-name>
        <url-pattern>/adminManageCustomer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>addInformationForCustomerController</servlet-name>
        <url-pattern>/addInformationForCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupController</servlet-name>
        <url-pattern>/signupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCustomerID</servlet-name>
        <url-pattern>/getCustomerID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCustomer</servlet-name>
        <url-pattern>/getCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPetController</servlet-name>
        <url-pattern>/addPetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingController</servlet-name>
        <url-pattern>/bookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocartController</servlet-name>
        <url-pattern>/addtocartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentController</servlet-name>
        <url-pattern>/paymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addfeedbackController</servlet-name>
        <url-pattern>/addfeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddNewServiceController</servlet-name>
        <url-pattern>/adminAddNewServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCancelBookingController</servlet-name>
        <url-pattern>/adminCancelBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDisableStatusController</servlet-name>
        <url-pattern>/adminDisableStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEditServiceController</servlet-name>
        <url-pattern>/adminEditServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminReplyFeedbackController</servlet-name>
        <url-pattern>/adminReplyFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSearchCustomerController</servlet-name>
        <url-pattern>/adminSearchCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUpdateInfomationController</servlet-name>
        <url-pattern>/adminUpdateInfomationController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
